@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  :global(.container) > :global(.row) {
    height: 84px;
  }
  .menuBar {
    display: flex;
    flex: 1;
    padding: 10px 0;
    gap: 50px;
    @media (max-width: 1200px) {
      flex-direction: column;
      gap: 0;
    }
    @media (max-width: 576px) {
      flex-direction: row;
    }
  }
  .activeBar {
    display: block;
  }

  .searchMenu {
    flex: 1;
    @media (max-width: 1200px) {
      order: 2;
      text-align: center;
    }
    @media (max-width: 576px) {
      order: 1;
    }
  }
  .dropDown {
    display: none;
    position: relative;

    @media (max-width: 576px) {
      display: block;
      order: 2;
    }
    ul {
      position: absolute;
      top: 100%;
      right: 0;
      left: auto;
      z-index: 999;
    }
  }
  .btnDropDown {
    background-color: $primary;
  }

  .menu {
    flex: 1;
    display: flex;
    align-self: stretch;
    @media (max-width: 1200px) {
      order: 1;
      justify-content: center;
    }
    @media (max-width: 576px) {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      @extend %hover-style;
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;

      &.active {
        @extend %hover-style;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }
}
