
.brands {
  padding: 30px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

:global {
  .slick-prev:before,
  .slick-next:before {
    color: #d58e32 !important; // wymusza kolor
    font-size: 30px; // możesz zwiększyć rozmiar
    opacity: 1; // pełna widoczność
  }
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #d58e32;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.brandsList {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.brandItem {
  max-width: 120px;
    flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  img {
    max-width: 100%;
    height: auto; 
    object-fit: contain;
    filter: grayscale(100%);
  }
    &:hover img {
        filter: grayscale(0%);
        transition: filter 0.3s ease;
    }
    @media (max-width: 768px) {
      max-width: 100px; 
      img {
        max-width: 80%; 
      }
    }
    
}

