@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  @extend %hover-effect;

  &:hover {
    box-shadow: 0 2px 10px rgba($black, 0.1);

    .photo {
      background-color: darken($light-bg, 5%);
    }

    .photo .buttons {
      opacity: 1;
      transform: translateY(0);
    }

    // Hover dla ceny
    .actions .price {
      background-color: $primary;
      color: $white;

      button {
        color: $white;
      }
    }
  }

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      image: var(--ProductBox-bg-image);
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $form-border-color;
      border-radius: 50%;
      color: $white;
      padding: 30px 15px 5px 15px;
      z-index: 1;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity $hover-bg-time $hover-transition,
        transform $hover-transform-time $hover-transition;
    }
    .button {
      @media (max-width: 1199px) {
        font-size: 11px;
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    .name {
      color: $primary;
      font: inherit;
      text-decoration: none;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
      transition: color 500ms ease;
    }
    :hover {
      color: $text-color;
    }

    .stars {
      display: flex;
      justify-content: center;
      gap: 3px;

      a {
        text-decoration: none;
        color: $text-color;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $text-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .outlines {
      display: flex;
      gap: 5px;
    }

    .price {
      font-weight: bold;
      color: $primary;
      background-color: transparent; // zawsze widoczna
      padding: 5px 10px;
      border-radius: 5px;
      transition: background-color 0.3s ease, color 0.3s ease;

      button {
        background: transparent;
        border: none;
        cursor: pointer;
        width: 100%;
        color: inherit;
        transition: color 0.3s ease, background-color 0.3s ease;
      }
    }

    .active {
      background-color: $primary;
    }
  }
}
