@import "../../../styles/settings.scss";

.stars {

&.default{
  a {
    text-decoration: none;
  }
  .starUser {
    color: $primary;
  }
  .starDefault {
    color: $text-color;
  }
}
&.renderOnly {
  .starDefault{
    color: $text-color;
  }
  user-select: none;
  pointer-events: none;
}

}
