@import "../../../styles/settings.scss";

.root {
  padding: 24px 0;
  background: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  .card {
    height: 100%;
  }

  .big {
    grid-row: span 3;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;

    .big {
      grid-row: auto;
    }
  }
}
