@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
}

.rowContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.big {
  grid-column: span 2;
  min-height: 200px;
}
.small {
  min-height: 200px;
}

@media (max-width: 991px) {
  .rowContainer {
    grid-template-columns: 1fr;
  }
  .big {
    grid-column: auto;
    order: 0;
  }
  .small {
    order: 1;
  }
}
