@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  margin-bottom: 2rem;
  margin-top: 2rem;

  .container {
    display: flex;
    height: 420px;
    justify-content: space-between;
  }

  .leftSection {
    width: 30%;

    .photo {
      position: relative;
      padding: 80% 10px 0 10px;
      background: {
        image: var(--ProductBox-bg-image);
        size: contain;
        position: center;
        repeat: no-repeat;
      }

      .sale {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: #292929;
        color: #ffffff;

        .dots {
          position: absolute;
          right: 0;
          top: 0;

          ul {
            margin-right: 10px;
            list-style: none;

            li {
              display: inline-block;
              margin-left: 0.5rem;

              a {
                @extend %hover-style;
                display: block;
                width: 13px;
                height: 13px;
                border-radius: 6px;
                background-color: #e1e1e1;
                font-size: 0;

                &.active,
                &:hover {
                  background-color: $primary;
                }
              }
            }
          }
        }
      }

      .buttons {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .content {
      text-align: center;
      padding: 20px;

      h5 {
        color: $primary;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }

      .stars {
        a {
          text-decoration: none;
          color: rgb(42, 42, 42);
        }
      }
    }

    .line {
      margin: 0 10px;
      border-bottom: 1px solid #2a2a2a;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 50%;
        width: 30px;
        border-bottom: 4px solid $primary;
        transform: translateX(-50%);
      }
    }

    .actions {
      padding: 15px 10px 10px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .price {
        display: flex;
        align-items: center;

        .oldPrice {
          padding-right: 15px;
          text-decoration: line-through;
          color: gray;
        }
      }
    }

    .active {
      color: $primary;
      border-color: $primary;
    }
  }
  .rightSection {
    width: 65%;
    border: 1px solid rgb(211, 211, 211);

    .rightSectionPhoto {
      position: relative;
      padding: 50% 10px 0 10px;
      background: {
        image: var(--ProductBox-bg-image);
        size: contain;
        position: center;
        repeat: no-repeat;
      }
      .rightSectionDescription {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        padding: 15px 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
      }
      .rightSectionButton {
        position: absolute;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
        background-color: white;
        padding: 13px;
        color: black;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
    .rightSectionButtons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .buttonLeft {
        width: 50%;
        background-color: black;
        text-align: center;
      }
      .buttonRight {
        width: 50%;
        background-color: $primary;
        text-align: center;
      }
    }
  }
}
