@import "../../../styles/settings.scss";

.root {
  padding-block: calc($base-padding * 2);

  .wrapper, .loginForm, .loginInfo {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;

    .loginForm {
      padding: 2rem;
      gap: 1rem;
      box-shadow: 1px 1px 5px rgba(1, 2, 2, 0.2);
      position: relative;
      width: 100%;
      max-width: 500px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 5px;
        background-color: $text-color;
      }

      .loginInfo {
        gap: 0.1rem;
        label {
          font-weight: bold;
          padding: 0;
          margin: 0;
        }
        input {
          width: 100%;
        }
      }

      .forgotPassword {
        font-size: 14px;
      }

      .loginBtns {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn {
          font-weight: bold;
          padding: 0.5rem 2rem;
          background-color: $primary;
          border: 1px solid transparent;
          color: $hover-color;
          &:hover {
            background-color: transparent;
            border: 1px solid $primary;
            color: $primary;
          }
        }
      }

    }
  }
}
